{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title|default:"Podato"}}</title>
    <link href="https://npmcdn.com/basscss@8.0.0-beta5/css/basscss.min.css" rel="stylesheet">
</head>
<body>
{% block content %}
{% endblock %}
{% block scripts %}
    <script>
        var Podato = Podato || {};
        Podato.globals = {{ global_data|safe }}
    </script>
{% endblock %}
<div id="app">

</div>
<script src="{% static 'main.bundle.js' %}"></script>
</body>

</html>